<footer class="footer">
    <div class="container">
        <div class="festival--dates">
            <h2>Festival Jazz Music Costa Brava - 2022</h2>
            <div class="row">
                <div class="span">
                    10th of August
                </div>
                <div class="span">
                    Amazing Jazz Band
                </div>
                <div class="span">
                    Calella de Palafrugell
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>
            <div class="row">
                <div class="span">
                    10th of August
                </div>
                <div class="span">
                    Brava Band
                </div>
                <div class="span">
                    Calella de Palafrugell
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>
            <div class="row">
                <div class="span">
                    11th of August
                </div>
                <div class="span">
                    American Jazz Band
                </div>
                <div class="span">
                    Cadaques
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>
            <div class="row">
                <div class="span">
                    11th of August
                </div>
                <div class="span">
                    Michelle
                </div>
                <div class="span">
                    Cadaques
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>

            <div class="row">
                <div class="span">
                    12th of August
                </div>
                <div class="span">
                    Pirates
                </div>
                <div class="span">
                    Ampuriabrava
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>

            <div class="row">
                <div class="span">
                    12th of August
                </div>
                <div class="span">
                    Red Hot Jazz Band
                </div>
                <div class="span">
                    Ampuriabrava
                </div>
                <div class="right pr-6">
                    <include
                        src="views/components/button-gold.html"
                        locals='{"label" : "Tickets", "link": "./tickets.html"}'}>
                    </include>
                </div>
            </div>
        </div>

        <div class="container font-['Open_Sans']">
            <nav class="relative w-full flex flex-wrap items-center justify-between py-4 navbar navbar-expand-lg navbar-light bg-light top-line">
                <include
                    src="views/components/logo.html">
                </include>
                <ul class="flex">
                    <li class="px-4 link">
                        <a href="./index.html">Home</a>
                    </li>
                    <li class="px-4 link">
                        <a href="./bands.html">Bands</a>
                    </li>
                    <li class="px-4 link">
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li class="px-4 link">
                        <a href="./tickets.html">Tickets</a>
                    </li>
                </ul>

                <ul class="flex">
                    <li class="px-4 link">
                        <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                    </li>
                    <li class="px-4 link">
                        <a  href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="px-4 link">
                        <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
